:root {
    --midBlue: #002b8c; 

    --darkgrey: #7d7d7d;

    --textBlue: #001950;

    --white: #fff;

    --lightGrey: #f7f7f7;

    --lightBlue: #00c8fa;
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/ROBOTO/Roboto-Regular.ttf);
}

@font-face {
    font-family: CronosBold;
    src: url(../fonts/CRONOS/CronosPro-Bold.otf);
}

.formulario{
    background-color: var(--lightGrey);
    margin: 20px;
    box-shadow: 5px 3px 3px 0px #0004;
    border-radius: 5px;
}

.formulario h1{
    padding: 5px 0px 0px 40px;
    font-family: CronosBold;
    color: var(--textBlue);
}

.container {
    display:grid;
    padding: 10px;
}


.metas{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 20%;
}

.form-Group{
    margin: 10px;
    display: grid;
}

.input {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(52, 52, 52);
    appearance: text;
    outline: none;
}

.input-fecha {
    margin-left: 10px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(52, 52, 52);
    text-align: center;
    font-size: large;
    appearance: text;
    display:none;
   
}
.label-fecha{
    font-size: larger;
    color: var(--midBlue);
    font-family: CronosBold;
    margin-left: 20px;
}

.tittle{
    margin-left: 18%;
    transition: all 500ms;
}

.form-select{
    display:flex;
    margin-left: 40px;
    font-size: large;
    
}
.form-select select{
    margin-left: 10px;
}

.label {
    font-family: CronosBold;
    color: var(--midBlue);
}

.metas-tittle{
    margin-left: 20%;
}


.button-form{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    width:100px;
    padding: 30px 0 30px 0;
}

@media  (max-width: 458px){
    .tittle{
        margin-left: 20px;
        font-size: small;
    }
}

